# Dataset files
data/*.tar.gz
data/*.zip
data/cifar-10-batches-py/

# Model files
models/saved_models/*.pth
models/saved_models/*.pt

# Python cache
__pycache__/
*.pyc

# Virtual environment
cifar10_env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
